# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.seq-app-replication.iml
# Datasource local storage ignored files
/../../../../../../../:\Development\datalust\seq-app-replication\.idea\.idea.seq-app-replication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
